<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BodegApp"
        android:supportsRtl="true"
        android:theme="@style/Theme.BodegApp" >
        <activity
            android:name=".ui.tienda.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BodegApp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.inventario.AgregarProductoActivity"
            android:exported="false"
            android:label="Agregar producto" />
        <activity
            android:name=".ui.fiados.RegistrarFiadoActivity"
            android:exported="false"
            android:label="Registrar fiado" />
        <activity
            android:name=".ui.dashboard.NuevaVentaActivity"
            android:exported="false"
            android:label="Nueva venta" />
        <activity
            android:name=".ui.reporte.HistorialVentasActivity"
            android:exported="false"
            android:label="Historial de ventas" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDzn8m7wYM4rGZLmEtjvQ__F9uHMp-RNsw" />
    </application>

</manifest>